{
  "$schema": "https://docs.renovatebot.com/renovate-schema.json",
  "extends": ["config:recommended"],
  "rebaseWhen": "$rebaseWhen",
  "automerge": $automerge,
  "automergeType": "$automergeType",
  "automergeStrategy": "$automergeStrategy",
  "automergeSchedule": $automergeSchedule,
  "packageRules": $packageRules
}