{
  "$schema": "https://docs.renovatebot.com/renovate-schema.json",
  "extends": ["config:recommended"],
  "baseBranchPatterns": $baseBranchPatterns,
  "schedule": $schedule,
  "timezone": "$timezone",
  "packageRules": $packageRules
}